<div id="<%= dom_id person %>">
  <div>
    <strong>First name:</strong>
    <%= person.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </div>

  <div>
    <strong>Birthday:</strong>
    <%= person.birthday %>
  </div>

  <div>
    <strong>Date died:</strong>
    <%= person.date_died %>
  </div>

  <div>
    <strong>Gender:</strong>
    <%= person.gender %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= person.email %>
  </div>

  <div>
    <strong>Cell:</strong>
    <%= person.cell %>
  </div>

  <div>
    <strong>Cityborn:</strong>
    <%= person.cityborn %>
  </div>

  <div>
    <strong>Stateborn:</strong>
    <%= person.stateborn %>
  </div>

  <div>
    <strong>Citycurrent:</strong>
    <%= person.citycurrent %>
  </div>

  <div>
    <strong>Statecurrent:</strong>
    <%= person.statecurrent %>
  </div>

</div>
