<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="bi bi-house-door-fill"></i> Home
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Relationships", relationships_path, class: "nav-link" %>
            </li>
            <li class="nav-item position-relative">
                <% pending_count = Relationship.where(relative_id: current_user.id, status: 'pending').where.not(initiated_by_id: current_user.id).count %>
                <%= link_to pending_relationships_path, class: "nav-link" do %>
                  Pending Requests
                  <% if pending_count > 0 %>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      <%= pending_count %>
                      <span class="visually-hidden">pending requests</span>
                    </span>
                  <% end %>
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to "Account Settings", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>